/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run wgs/snvdetect -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test with F106 reference profile'
    config_profile_description = 'Minimal test data for F106 reference benchmarking'
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 64
    max_memory = '80.GB'
    max_time   = '90.h'

    // Input data
    // test sample
    //             batch1: PS1_1, PS2_2, PS6_7, PS8_10, PS23_10
    //             batch2: PS9_1, PS22_1, PS18_1, PS19_11, PS34_1

    input                      = '/public/Bio/Bio_project/wgs_snv_detection/assets/test_samplesheet.csv'
    outdir                     = "F106_test"
    readgroups                  = '/public/Bio/Bio_project/wgs_snv_detection/assets/readgroups.csv'
    // Fasta references
    fasta                      = '/public/Bio/Bio_refenerce/Prunus_Sibirica/F106_Genome.fasta'
    annotation                 = '/public/Bio/Bio_refenerce/Prunus_Sibirica/F106_genes.gff'
}
