/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // global default params for proccess
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    // nf-core default don't touch them
    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


    // default modules settings
    // fastqc
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FASTP {
        publishDir = [
            [ path: { "${params.outdir}/fastp/report" },
                mode: params.publish_dir_mode,
                pattern: '*.json'
            ],
            [
                path: { "${params.outdir}/fastp/report" },
                mode: params.publish_dir_mode,
                pattern: '*.html'
            ],
            [
                path: { "${params.outdir}/fastp/report" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
            [
                path: { "/public/Bio/Bio_data/Armeniaca_Resequencing/JZP202302GM011-01/cleaned" },
                mode: params.publish_dir_mode,
                pattern: '*fastp.fastq.gz'
            ]
        ]
        ext.args = '-q 20'
    }
    // bwa
    //  cmd = 'bwa mem -M -R \"@RG\\tID:{name}\\tLB:DNA\\tSM:{name}\\tPL:illumina\" \
    //          -T 30 -A 1 -B 4 -O 4 -E 1 -L 5 -U 17 -k 20 \
    //          -t {map_thread} {ref} {outdir}/01.clean_fq/{name}.clean.R1.fastq.gz {outdir}/01.clean_fq/{name}.clean.R2.fastq.gz > {outdir}/02.mapping/{name}.sam'
    withName: BWA_MEM {
        ext.prefix = { "${meta.id}.sorted"}
        ext.args = {  "-M -T 30" }
    }

    // samtools
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    // gatk
    // Custom module setting
}
