/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run wgs/snvdetect -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 48
    max_memory = '80.GB'
    max_time   = '6.h'

    // Input data
    // test sample PS1_1, PS34_1, PS22_1, PS9_1
    input  = '/public/Bio/Bio_project/wgs_snv_detection/assets/test_samplesheet.csv'
    outdir                     = "test_result"

    // Fasta references
    fasta  = '/public/Bio/Bio_refenerce/Prunus_Sibirica/Prunus_CH320_5.fasta'
    annotation = '/public/Bio/Bio_refenerce/Prunus_salicina_Zhongli/Prunus_salicina.genes.gff3'
}
